    Data Types:
        - Primitive Data Types:
            - int
            - float
            - bool
            - string
            - None
        - Collections
            - List
            - Tuple
            - Dictionary
            - Set
            - String

# List 

    - access the element from the index
    - add something to the list
    - remove from the list
    - slice a list
    - join two lists

In [2]:
## creating a list
students_list = ["Rajiv", "Manya", "Siddhi", "Anubhav"]

In [18]:
type(students_list)

list

In [19]:
print(students_list)

['Rajiv', 'Manya', 'Siddhi', 'Anubhav']

In [5]:
## acess the elements of the list
print(students_list[1])
print(students_list[2])

Manya
Siddhi

In [6]:
## what is the length of the list
len(students_list) ## index will range from 0 - 3

4

In [13]:
## what is the last element in the list
students_list[len(students_list) - 1]

students_list[-1]  ## accessing the last element

'Anubhav'

In [17]:
## what is the 2nd last element in the list

marks  = [30, 100, 40, 50, 20, 70, 25]

# marks[len(marks) - 2 ]
marks[- 2]

70

In [31]:
## Add a new student in the list

students_list = ["Rajiv", "Manya", "Siddhi", "Anubhav"]

new_student = "Shabana"

students_list.append(new_student) ## this will add new_student to the list

students_list

['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana']

In [32]:
len(students_list)

5

In [33]:
## remove a student from the list
print(students_list)
students_list.remove("Anubhav")
print(students_list)

['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana']
['Rajiv', 'Manya', 'Siddhi', 'Shabana']

In [36]:
students_list = ['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana']
students_list.append("Anubhav")
students_list

['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', 'Anubhav']

In [37]:
print(students_list)
students_list.remove("Anubhav")
print(students_list)

['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', 'Anubhav']
['Rajiv', 'Manya', 'Siddhi', 'Shabana', 'Anubhav']

In [41]:
# Slice the list ( take some portion of the list)


# Question: Give me the first 3 students in the list
students_list = ['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana']

first_three_students = [students_list[0], students_list[1], students_list[2]]
print(first_three_students)

students_list[0 : 3] ## means take first three students at index 0, 1, 2

['Rajiv', 'Manya', 'Siddhi']

['Rajiv', 'Manya', 'Siddhi']

In [43]:
# Question: Give me the 2 - 5 students in the list
students_list = ['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', "Debashish"]

students_list[2 : 6]

['Siddhi', 'Anubhav', 'Shabana', 'Debashish']

In [45]:
print(dir(students_list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## Common operations on list 
    'append', 
    'clear', 
    'copy', 
    'count', 
    'extend', 
    'index',
    'insert', 
    'pop', 
    'remove', 
    'reverse', 
    'sort'

In [46]:
students_list = ['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', "Debashish"]

students_list.clear()

In [48]:
students_list

[]

In [51]:
students_list = ['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', "Debashish"]
backup_list = students_list.copy()

In [52]:
backup_list

['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', 'Debashish']

In [53]:
id(students_list), id(backup_list)

(4423558848, 4424383808)

In [55]:
students_list = ['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', "Debashish"]
students_list.append("Anubhav")
students_list.count("Anubhav")

2

In [59]:
students_list.append("Rajiv")  # in-place operation ( As opposed to non-inplace method that return a view)

In [61]:
print(students_list)
students_list.count("Rajiv")

['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', 'Debashish', 'Anubhav', 'Rajiv', 'Rajiv', 'Rajiv']

4

In [65]:
# list.extend(iterable)
# Extend the list by appending all the items from the iterable. Similar to a[len(a):] = iterable.


students_list = ['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', "Debashish"]

new_admission = ["Ram", "Harsh"]


# students_list.append(new_admission[0])
# students_list.append(new_admission[1])

students_list.extend(new_admission)

print(students_list)

students_list[len(students_list):] = new_admission

['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', 'Debashish', 'Ram', 'Harsh']

In [70]:
students_list = ['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', "Debashish"]
students_list[len(students_list):] = new_admission
print(students_list)

['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', 'Debashish', 'Ram', 'Harsh']

In [71]:
students_list[len(students_list):] = ["Rohan", "Mohan"]
students_list

['Rajiv',
 'Manya',
 'Siddhi',
 'Anubhav',
 'Shabana',
 'Debashish',
 'Ram',
 'Harsh',
 'Rohan',
 'Mohan']

In [73]:
students_list = ['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', "Debashish"]
students_list.append("Anubhav")
print(students_list)
students_list.count("Anubhav")

['Rajiv', 'Manya', 'Siddhi', 'Anubhav', 'Shabana', 'Debashish', 'Anubhav']

2

In [74]:
students_list.insert(2, "Ram")

In [75]:
students_list

['Rajiv',
 'Manya',
 'Ram',
 'Siddhi',
 'Anubhav',
 'Shabana',
 'Debashish',
 'Anubhav']

In [76]:
students_list.insert(len(students_list), "Harsh")
students_list.append("Harsh")

In [77]:
students_list

['Rajiv',
 'Manya',
 'Ram',
 'Siddhi',
 'Anubhav',
 'Shabana',
 'Debashish',
 'Anubhav',
 'Harsh']

In [82]:
## pop

students_list = ['Rajiv',
 'Manya',
 'Ram',
 'Siddhi',
 'Anubhav',
 'Shabana',
 'Debashish',
 'Anubhav',
 'Harsh']


removed_student = students_list.pop()
print(removed_student)

Harsh

In [91]:
removed_student = students_list.pop()
print(removed_student)
print(students_list)

IndexError: pop from empty list

In [161]:
students_list = ['Rajiv',
 'Manya',
 'Ram',
 'Siddhi',
 'Anubhav',
 'Shabana',
 'Debashish',
 'Anubhav',
 'Harsh']


students_list.pop(1)
print(students_list)

['Rajiv', 'Ram', 'Siddhi', 'Anubhav', 'Shabana', 'Debashish', 'Anubhav', 'Harsh']

In [97]:
students_list = ['Rajiv',
 'Manya',
 'Ram',
 'Siddhi',
 'Anubhav',
 'Shabana',
 'Debashish',
 'Anubhav',
 'Harsh']


students_list[9]

IndexError: list index out of range

In [101]:
## sort

marks = [40, 30.5, 20, -45, 70, 10]

marks.sort()  # in place operation

print(marks)

[-45, 10, 20, 30.5, 40, 70]

In [102]:

marks = [40, 30.5, 20, -45, 70, 10]

marks.sort(reverse = True)  # in place operation

print(marks)

[70, 40, 30.5, 20, 10, -45]

In [113]:
print(marks)
marks.index(10)

[70, 40, 30.5, 20, 10, -45]

4

## Nested list

In [103]:
internal_marks = [20, 15, 12, 10]
external_marks = [90, 70, 55, 60]

all_marks = [internal_marks, external_marks]
all_marks

[[20, 15, 12, 10], [90, 70, 55, 60]]

In [106]:
# a list can contain all datatype
my_list = [ [ 10, 12, [17, 18, 19]], ["Siddhi", "Manya"], "apple", "mango", 100, 200.5 ]

my_list[0][-1]

[17, 18, 19]

In [110]:
my_matrix = [
    [1, 2, 3], 
    [4, 5, 6], 
    [10, 11, 12]
]

In [109]:
my_matrix[0], my_matrix[1]

([1, 2, 3], [4, 5, 6])

# Dictionary

    Common operations on a dictionary:
        - Add a key
        - remove a key
        - Change the value of a key

In [115]:
## create a dictionary
country_dict = {
        "India" : "New Delhi", 
        "USA" : "Washington DC", 
        "England" :"London"
}

country_dict

{'India': 'New Delhi', 'USA': 'Washington DC', 'England': 'London'}

In [116]:
len(country_dict)

3

In [117]:
type(country_dict)

dict

In [119]:
print(dir(country_dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']


## Methods on a dictionary

    'clear', 
    'copy',
    'fromkeys',
    'get',
    'items',
    'keys',
    'pop',
    'popitem', 
    'setdefault', 
    'update', 
    'values'

In [121]:

country_dict = {
        "India" : "New Delhi", 
        "USA" : "Washington DC", 
        "England" :"London"
}

country_dict.clear()
country_dict

{}

In [124]:
## acess the value in the dictionary using a key

country_dict = {
        "India" : "New Delhi", 
        "USA" : "Washington DC", 
        "England" :"London"
}
print(country_dict["India"]) 
print(country_dict["France"])

New Delhi

KeyError: 'France'

In [131]:
country_dict = {
        "India" : "New Delhi", 
        "USA" : "Washington DC", 
        "England" :"London"
}

## if we use get then we can access the value if the key is present. Otherwise, it will return default value
print(country_dict.get("India"))
print(country_dict.get("France", "n/a"))
print(country_dict.get("France", {}))

New Delhi
n/a
{}

In [138]:
marks = {

    "Siddhi" : 40, 
    "Shabana" : 45, 
    "Debashish" : 70
    
}

print("Keys = ", list(marks.keys()))
print("Values = " , list(marks.values()))

print(marks["Siddhi"])
print(marks["Rajiv"]) ## key error

Keys =  ['Siddhi', 'Shabana', 'Debashish']
Values =  [40, 45, 70]
40

KeyError: 'Rajiv'

In [140]:
marks = {

    "Siddhi" : [40, 30, 80], 
    "Shabana" : [45, 70], 
    "Debashish" : [30, 60, 40, 10, 70]
    
}


marks["Debashish"]

[30, 60, 40, 10, 70]

In [156]:
# nested dictionary

marks = {

    "Siddhi" : {"English": 40, 
                "Hindi":30, 
                "Math": {"theory" : 80 , "practical":50}}, 
    
    "Shabana" : {"Science":45, "English" : 70}, 
    
    "Debashish" : {"English": 30,
                    "Hindi": 60,
                   "Math": {"theory":40, "practical":90}, 
                   "Science" : 10, 
                    "Art": 70}
    
}

student = "Shabana"
subject = "Science"
# marks[student]["Hindi"]


# marks[student][subject]["theory"]
marks.get(student, {}).get(subject, {}).get("theory", None)

AttributeError: 'int' object has no attribute 'get'

    'pop',
    'popitem', 
    'setdefault', 
    'update',

In [165]:
marks = {

    "Siddhi" : {"English": 40, 
                "Hindi":30, 
                "Math": {"theory" : 80 , "practical":50}}, 
    
    "Shabana" : {"Science":45, "English" : 70}, 
    
    "Debashish" : {"English": 30,
                    "Hindi": 60,
                   "Math": {"theory":40, "practical":90}, 
                   "Science" : 10, 
                    "Art": 70}
    
}


print(marks)

popped = marks.pop( "Debashish" )

print("popped =" , popped )


print(marks)

{'Siddhi': {'English': 40, 'Hindi': 30, 'Math': {'theory': 80, 'practical': 50}}, 'Shabana': {'Science': 45, 'English': 70}, 'Debashish': {'English': 30, 'Hindi': 60, 'Math': {'theory': 40, 'practical': 90}, 'Science': 10, 'Art': 70}}
popped = {'English': 30, 'Hindi': 60, 'Math': {'theory': 40, 'practical': 90}, 'Science': 10, 'Art': 70}
{'Siddhi': {'English': 40, 'Hindi': 30, 'Math': {'theory': 80, 'practical': 50}}, 'Shabana': {'Science': 45, 'English': 70}}

In [166]:
marks = {

    "Siddhi" : {"English": 40, 
                "Hindi":30, 
                "Math": {"theory" : 80 , "practical":50}}, 
    
    "Shabana" : {"Science":45, "English" : 70}, 
    
    "Debashish" : {"English": 30,
                    "Hindi": 60,
                   "Math": {"theory":40, "practical":90}, 
                   "Science" : 10, 
                    "Art": 70}
    
}


marks.popitem()

('Debashish',
 {'English': 30,
  'Hindi': 60,
  'Math': {'theory': 40, 'practical': 90},
  'Science': 10,
  'Art': 70})

In [168]:
marks = {

    "Siddhi" : {"English": 40, 
                "Hindi":30, 
                "Math": {"theory" : 80 , "practical":50}}, 
    
    "Shabana" : {"Science":45, "English" : 70}, 
    
    "Debashish" : {"English": 30,
                    "Hindi": 60,
                   "Math": {"theory":40, "practical":90}, 
                   "Science" : 10, 
                    "Art": 70}
    
}


update_marks = {

    "Siddhi" : {"English": 45}, 
    
    "Debashish" : {"English": 30,
                    "Hindi": 60,
                   "Math": {"theory":40, "practical":92}, 
                   "Science" : 10, 
                    "Art": 70}
    
}


marks.update(update_marks)

print(marks)

{'Siddhi': {'English': 45}, 'Shabana': {'Science': 45, 'English': 70}, 'Debashish': {'English': 30, 'Hindi': 60, 'Math': {'theory': 40, 'practical': 92}, 'Science': 10, 'Art': 70}}

In [171]:
marks = {

    "Siddhi" : {"English": 40, 
                "Hindi":30, 
                "Math": {"theory" : 80 , "practical":50}}, 
    
    "Shabana" : {"Science":45, "English" : 70}, 
    
    "Debashish" : {"English": 30,
                    "Hindi": 60,
                   "Math": {"theory":40, "practical":90}, 
                   "Science" : 10, 
                    "Art": 70}
}


new_value = marks["Shabana"]
new_value


del marks["Shabana"]

In [173]:
marks["Shahana"] =new_value

In [174]:
marks

{'Siddhi': {'English': 40,
  'Hindi': 30,
  'Math': {'theory': 80, 'practical': 50}},
 'Debashish': {'English': 30,
  'Hindi': 60,
  'Math': {'theory': 40, 'practical': 90},
  'Science': 10,
  'Art': 70},
 'Shahana': {'Science': 45, 'English': 70}}

In [179]:
marks.setdefault("Siddhi", {})
marks.setdefault("Rajiv", {})


# marks.setdefault()

{}

In [180]:
marks

{'Siddhi': {'English': 40,
  'Hindi': 30,
  'Math': {'theory': 80, 'practical': 50}},
 'Debashish': {'English': 30,
  'Hindi': 60,
  'Math': {'theory': 40, 'practical': 90},
  'Science': 10,
  'Art': 70},
 'Shahana': {'Science': 45, 'English': 70},
 'Rajiv': {}}

python```empty_list = []
empty_dict = {}
empty_tuple = () 
```

# Tuple

    - ordered and immutable collection of items in python
    -

In [19]:
## Create a tuple
empty_tuple = ()
print(type(empty_tuple))
my_tuple = (20, 30)

<class 'tuple'>

In [11]:
another_tuple = ("harsh", ) ## tuple with length 1
another_tuple, type(another_tuple)

('harsh', str)

In [3]:
type(my_tuple)

tuple

In [4]:
len(my_tuple)

2

In [6]:
## acess the values in the tuple
my_tuple[0], my_tuple[1]

(20, 30)

In [12]:
## tuples are immutable
my_tuple.append(40)

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
## what are the methods or attributes available for a tuple

print(dir(my_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [16]:
students_tuple = ("harsh", "manya", "rajiv", "harsh")
students_tuple.count("manya")

1

In [18]:
students_tuple.index("rajiv"), students_tuple.index("harsh")

(2, 0)

In [23]:
### more operations on tuple

tuple1 = ("harsh", "anubhav")
tuple2 = ("manya", "siddhi" )


tuple3 = tuple1 + tuple2

print(tuple3)

('harsh', 'anubhav', 'manya', 'siddhi')

In [24]:
## slicing in a tuple


# get last two elements in the tuple

tuple3[-2 : len(tuple3)]

('manya', 'siddhi')

In [25]:
## convert a tuple to a list  ( list to tuple is also possible)

my_students = list(tuple3)
my_students

['harsh', 'anubhav', 'manya', 'siddhi']

In [27]:
another_tuple = tuple(my_students)
another_tuple

('harsh', 'anubhav', 'manya', 'siddhi')

In [30]:
## tuple having multiple datatypes
mixed_tuple = (2, 3.5, [ "harsh",  "debashish" ], ("rajiv", "shabana"))
mixed_tuple

(2, 3.5, ['harsh', 'debashish'], ('rajiv', 'shabana'))

In [32]:
mixed_tuple[2].append("manya")

In [33]:
mixed_tuple

(2, 3.5, ['harsh', 'debashish', 'manya'], ('rajiv', 'shabana'))

In [35]:
mixed_tuple[2].append([1,2,3,4])

In [36]:
mixed_tuple

(2, 3.5, ['harsh', 'debashish', 'manya', [1, 2, 3, 4]], ('rajiv', 'shabana'))

In [40]:
## membership ( in operator)
print(my_students)

"manya" in   my_students , "rajiv" in my_students

['harsh', 'anubhav', 'manya', 'siddhi']

(True, False)

## tuple unpacking

In [43]:
## tuple upacking
num1, num2 = my_tuple

print(num1)
print(num2)

20
30

In [44]:
student1, student2, student3 = ("siddhi", "shabana")

ValueError: not enough values to unpack (expected 3, got 2)

In [47]:
student1, student2 = ("siddhi", "shabana", "rajiv")

ValueError: too many values to unpack (expected 2)

In [46]:
student1

('siddhi', 'shabana')

## named tuples

## using some basic funtions on list and tuples 
    - min
    - max
    - sum
    - sorted

In [49]:
marks = (10, 20, 30, 40, 50)

## get the minimum in a list or tuple

min(marks), min(list(marks))

(10, 10)

In [50]:
max(marks)

50

In [51]:
sum(marks)

150

In [56]:
my_numbers = (3, 1, 9, 5, 2)

sorted(my_numbers)

[1, 2, 3, 5, 9]

In [ ]:
my_numbers_list = list(my_numbers)
my_numbers_list.sort()  # inplace operation --> the my_numbers list is getting modified

In [59]:
my_numbers_list = list(my_numbers)
print(my_numbers_list)
sorted(my_numbers_list)  # not a inplace operation --> returns view of the object / creates a copy of the list
print(my_numbers_list)

[3, 1, 9, 5, 2]
[3, 1, 9, 5, 2]

In [60]:
my_numbers_list = list(my_numbers)
print(my_numbers_list)
my_numbers_list.sort() # in place operation
print(my_numbers_list)

[3, 1, 9, 5, 2]
[1, 2, 3, 5, 9]

In [55]:
my_numbers_list = list(my_numbers)
my_numbers_list.sort()
my_numbers_list

[1, 2, 3, 5, 9]

## Why we need tuples?
    - when we want data that should not be changed  (  eg. coordinates, )
    - when a function is returning multiple
    - performance and storage is better
    - tuples can be used to represent a dictionary

In [64]:
import sys

my_tuple = ('harsh', 'anubhav', 'manya', 'siddhi')

sys.getsizeof(my_tuple)

72

In [62]:
my_list = ['harsh', 'anubhav', 'manya', 'siddhi']
sys.getsizeof(my_list)

88

In [67]:
# convert a list of tuples to a dictionary

data = [("siddhi", [30, 40, 50]) , ("rajiv", [70, 90])]

my_data_dict = dict(data)
my_data_dict

{'siddhi': [30, 40, 50], 'rajiv': [70, 90]}

In [69]:
data = [("siddhi", 30 , [30, 40, 50]) , ("rajiv", [70, 90])]
my_data_dict = dict(data)
my_data_dict

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [70]:
new_data = {

    
}
my_data_dict.items()

{'siddhi': [30, 40, 50], 'rajiv': [70, 90]}

dict_items([('siddhi', [30, 40, 50]), ('rajiv', [70, 90])])

In [74]:
marks = {

    "Siddhi" : {"English": 40, 
                "Hindi":30, 
                "Math": {"theory" : 80 , "practical":50}}, 
    
    "Shabana" : {"Science":45, "English" : 70}, 
    
    "Debashish" : {"English": 30,
                    "Hindi": 60,
                   "Math": {"theory":40, "practical":90}, 
                   "Science" : 10, 
                    "Art": 70}
}

list(marks.items())

[('Siddhi',
  {'English': 40, 'Hindi': 30, 'Math': {'theory': 80, 'practical': 50}}),
 ('Shabana', {'Science': 45, 'English': 70}),
 ('Debashish',
  {'English': 30,
   'Hindi': 60,
   'Math': {'theory': 40, 'practical': 90},
   'Science': 10,
   'Art': 70})]

In [77]:
(list(marks.items()))

[('Siddhi',
  {'English': 40, 'Hindi': 30, 'Math': {'theory': 80, 'practical': 50}}),
 ('Shabana', {'Science': 45, 'English': 70}),
 ('Debashish',
  {'English': 30,
   'Hindi': 60,
   'Math': {'theory': 40, 'practical': 90},
   'Science': 10,
   'Art': 70})]

# Sets

    - unordered collection of unique items  ( there is no sequence or order)
    - we will not access any element using any index
    - we will check membership and do operations like union, intersection etc

In [81]:
empty_set = {}  # not an empty set. Empty dictionary

type(empty_set)

dict

In [83]:
empty_set = set()  # correct way to make empty set

type(empty_set)

set

In [78]:
my_set = {2, 5, 8, 3, c1}
my_set

{1, 2, 3, 5, 8}

In [80]:
type(my_set)

set

In [84]:
#we can add different datatypes in a set but mutable items


mixed_set = {20, 4.5}
mixed_set

{4.5, 20}

In [85]:

mixed_set = {20, 4.5, (1, 2)}
mixed_set

{(1, 2), 20, 4.5}

In [86]:

mixed_set = {20, 4.5, (1, 2), [3, 4, 5]}
mixed_set

TypeError: unhashable type: 'list'

In [88]:
set(my_list)

{'anubhav', 'harsh', 'manya', 'siddhi'}

In [91]:
set(['harsh', 'anubhav', 'manya', 'siddhi', "anubhav"])

{'anubhav', 'harsh', 'manya', 'siddhi'}

In [93]:
## what are the things we can do in a set

print(dir(set()))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

## Common operations on a set
    
    'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update'

In [95]:
my_set = set(['harsh', 'anubhav', 'manya', 'siddhi', "anubhav", "rajiv", "shabana"])
my_set

{'anubhav', 'harsh', 'manya', 'rajiv', 'shabana', 'siddhi'}

In [99]:
len(my_set)

7

In [100]:
## membership check

"ram" in my_set

True

In [98]:
my_set.add("ram")
my_set

{'anubhav', 'harsh', 'manya', 'rajiv', 'ram', 'shabana', 'siddhi'}

In [103]:
batsman = {'kohli', 'dhoni', 'rohit', "pandya", "yuvraj"}
bowlers = {"bumrah", "arshdeep", "pandya", "yuvraj"}

print(batsman.difference(bowlers))
print(bowlers.difference(batsman))

{'dhoni', 'rohit', 'kohli'}
{'arshdeep', 'bumrah'}

In [106]:
bowlers - batsman

{'arshdeep', 'bumrah'}

In [105]:
batsman - bowlers

{'dhoni', 'kohli', 'rohit'}

In [107]:
batsman.intersection(bowlers)

{'pandya', 'yuvraj'}

In [108]:
batsman.union(bowlers)

{'arshdeep', 'bumrah', 'dhoni', 'kohli', 'pandya', 'rohit', 'yuvraj'}

In [109]:
batsman.difference(bowlers)

{'dhoni', 'kohli', 'rohit'}

In [112]:
batsman.difference_update(bowlers)

In [113]:
batsman

{'dhoni', 'kohli', 'rohit'}

In [116]:
batsman = {'kohli', 'dhoni', 'rohit', "pandya", "yuvraj"}
bowlers = {"bumrah", "arshdeep", "pandya", "yuvraj"}

print("batsman: "  ,  batsman)
print("Intersection:  " , batsman.intersection(bowlers))
batsman.intersection_update(bowlers)
print("After intersection update: " , batsman)

batsman:  {'dhoni', 'pandya', 'yuvraj', 'rohit', 'kohli'}
Intersection:   {'pandya', 'yuvraj'}
After intersection update:  {'pandya', 'yuvraj'}

In [119]:
# 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove'

batsman = {'kohli', 'dhoni', 'rohit', "pandya", "yuvraj"}
bowlers = {"bumrah", "arshdeep", "pandya", "yuvraj"}

footballers  = {"messi","ronaldo","kaka"}

# alternate way of writing the method
set.isdisjoint(batsman, bowlers)

print(batsman.isdisjoint(bowlers))

print(batsman.isdisjoint(footballers))

False
True

In [123]:
batsman = {'kohli', 'dhoni', 'rohit', "pandya", "yuvraj"}
bowlers = {"bumrah", "arshdeep", "pandya", "yuvraj"}

allrounders = batsman.intersection(bowlers)


footballers  = {"messi","ronaldo","kaka"}


print(batsman.issubset(bowlers))

print(allrounders.issubset(batsman))

print(bowlers.issuperset(allrounders))

False
True
True

In [124]:
allrounders.add("gambhir")

print(batsman.issubset(bowlers))

print(allrounders.issubset(batsman))

print(bowlers.issuperset(allrounders))

False
False
False

In [126]:
batsman.remove("dhoni")

In [157]:
batsman

{'kohli', 'rohit', 'yuvraj'}

In [171]:
batsman = {'kohli', 'rohit', 'yuvraj'}
batsman.pop()

'yuvraj'

In [176]:
# my_set = {3, 8, 1, 5, 9, 10}
print(my_set)
my_set.pop()

{10}

10

'symmetric_difference', 'symmetric_difference_update', 'union', 'update'

In [181]:
batsman = {'kohli', 'dhoni', 'rohit', "pandya", "yuvraj"}
bowlers = {"bumrah", "arshdeep", "pandya", "yuvraj"}


print(set.symmetric_difference(batsman, bowlers))

set.symmetric_difference_update(batsman, bowlers)
batsman.symmetric_difference_update(bowlers)


print(batsman)

{'bumrah', 'dhoni', 'rohit', 'arshdeep', 'kohli'}
{'pandya', 'dhoni', 'yuvraj', 'rohit', 'kohli'}

In [184]:
batsman = {'kohli', 'dhoni', 'rohit', "pandya", "yuvraj"}
bowlers = {"bumrah", "arshdeep", "pandya", "yuvraj"}

print(bowlers)
bowlers.symmetric_difference_update(batsman)

bowlers

{'arshdeep', 'pandya', 'yuvraj', 'bumrah'}

{'arshdeep', 'bumrah', 'dhoni', 'kohli', 'rohit'}

In [185]:
batsman = {'kohli', 'dhoni', 'rohit', "pandya", "yuvraj"}
bowlers = {"bumrah", "arshdeep", "pandya", "yuvraj"}
batsman.update(bowlers)

In [187]:
batsman.union(bowlers)

{'arshdeep', 'bumrah', 'dhoni', 'kohli', 'pandya', 'rohit', 'yuvraj'}

In [186]:
batsman

{'arshdeep', 'bumrah', 'dhoni', 'kohli', 'pandya', 'rohit', 'yuvraj'}