## Python Notebook  (.ipynb --> interactive python notebook)

In [1]:
# Writing code in a notebook cell
print("Hello everyone. I am learning python!!!")

Hello everyone. I am learning python!!!

In [10]:
print("I am learning about jupyter notebook")

I am learning about jupyter notebook

In [11]:
a = 5
b = 10
c = 20

In [12]:
a

5

In [13]:
x = 5
y = 10
x + y

15

In [14]:
x + y

15

In [15]:
print(x + y)

15

In [41]:
a = 10
b = 30
print(a)
print(b)

10
30

## Syntax of Writing code in Python

1. Indentation is very important. Semicolons are not needed
2. Naming of variables
        - Variable names can contain alphabets and numbers and _. But it can start only with alphabets or _
        - Variable names cannot come from reserved words
4. Variables names are case sensitive
5. We can use # for comments

In [18]:
a = 5
b = 10
 c = 5

IndentationError: unexpected indent (1914557080.py, line 3)

In [20]:
## variable naming

name = "Ramesh"
name1 = "Mahesh"
marks = 10
marks_Rajiv = 100


scoreindia = 100
marks2 = 100
2marks = 100  # not allowed. Starting character should be alphabet or underscore
_marks = 100

print(name)

NameError: name 'score' is not defined

In [ ]:
# storing the marks in english and hindi
marks_english = 50
marks_hindi = 60

# calculating the total marks
total_marks = marks_english + marks_hindi 
print(total_marks)  ## total marks of the student

In [21]:
# storing the marks in english and hindi
marks_english = 50
marks_hindi = 60


print(MARKS_ENGLISH)  # python varible names are case sensitive

NameError: name 'MARKS_ENGLISH' is not defined

## Data Types in Python
 - Primitive Data Types
    - int
    - float
    - string
    - boolean
    - None

In [46]:
marks = 40  #integer

marks = 28.5 #float


is_pass = True  #boolean
is_fail = False #boolean

student_name = "Manya" #string
student_name = 'Manya' #string
address = '''
This is my address
Ramesh Kumar
Flat no. 102
Xyz Apartment, Mohalla no 7
New Delhi
'''

print(address)

school_name = None


complex_number = complex(4, 5)
print(complex_number)

This is my address
Ramesh Kumar
Flat no. 102
Xyz Apartment, Mohalla no 7
New Delhi

(4+5j)

## Type Checking using python```type```

In [27]:
score = 40  # score is of int datatype

marks = 40.8 
print(score)
type(score)
type(marks)

40

float

In [28]:
marks = 40.8 
type(marks)

float

In [29]:
name = 'manya'
type(name)

str

# Type Casting or type conversion
#### We can convert one data type to another (wherever applicable)

In [30]:
marks = 40 #this is integer

## we can convert the marks to float

marks_float = float(marks)
marks_float

40.0

In [38]:
roll_number = "10"
type(roll_number)


# we are converting string to an integer
roll_number_int = int(roll_number)
print(type(roll_number_int))
print(roll_number_int)

<class 'int'>
10

In [44]:
## True and False are equivalent to 0 and 1

is_pass = True

int(is_pass)
float(is_pass)
str(is_pass)

'True'

In [ ]:
x  = 'True'  # string
y = True  # boolean

## Operators in Python
    - Arithmetic Operators
    - Assignment Operators
    - Comparison or Relational Operators
    - Logical Operators
    - Bitwise Operators
    - Membership Operators
    - Identity Operators

## Assignment Operatorsm

In [51]:
x = 10
y = 20

print(x + y)   # Addition
print(x - y)   # Subtraction
print(x * y)   # Multiplication
print(x / y)   # Division
print(x // y)  # Floor Division --> Quotient
print(x % y)   # Modulo operator --> giving the remainder
print(2 ** 3)  # Exponential Operator


z = -x
print(z)  # negation

30
-10
200
0.5
0
10
8
-10

## Comparison Operators

In [59]:
x = 10
y = 5
z = 10.0

# check if x and y are equal
print(x == y) ## == is for checking if two values are equal 
print(x == z)

print( x != y ) ## x is not equal to y


print("x is greater than y" , x > y)
print("x is smaller than y", x < y)

print(x >= y)
print(x <= y)


print(" chaining two comparisons ", 10 < 50 < 100)
print(" chaining two comparisons ", 100 < 50 < 200)

False
True
True
x is greater than y True
x is smaller than y False
True
False
 chaining two comparisons  True
 chaining two comparisons  False

In [ ]:
x = 10
y = 5
z = 10.0

## Assignment Operators

In [65]:
# Basic Assignment
x = 5 ## assigning a value of 5 to x . So  = is a an assignment operator


x = 5
x += 1  ## x = x + 1
print(x)


a = 5
a *= 10 ## a = a*10
print("The value of a", a)



## Tuple unpacking

a, b = 2, 3
print(a+b)


student1, student2, student3 = "Ram", "Debashish", "Rajiv"
print(student2)

6
The value of a 50
5
Debashish

In [67]:
student1 + " " + student2

'Ram Debashish'

## Logical Operators 
    - and, not, or,

In [73]:
x = 5
y = 2

print(x > 3 and y < 3) 
print(x > 3 and y < 1)

print(x > 3 or y < 1)

print(not x > 3)

True
False
True
False

## Membership Operator

using python```in``` and python```not in```

In [81]:
name = "Rajiv"

print("j" in name) # in is a membership operator

print("p" in name)


print("ashish" in "Debashish")


list_of_students = [ "Rajiv", "Manya", "Siddhi" ]
name = "Siddhi"
name = "Ramesh"
print("Membership of ", name , name in list_of_students)

True
False
True
Membership of  Ramesh False

## Identity Operator
    - used to check if two items are the same object

In [91]:
a = "Ramesh"
b = "Suresh"
c = a
d  = "Ramesh"

print(a == d) # equality
print(a is d) # identity

print(a is b)
print(c is a)

True
True
False
True

In [92]:
id(a), id(d)

(4362162688, 4362162688)

## Assignment:
    - Using the different operators try to verify the bodmas rule

In [93]:
2 + 2 * 4

10

In [94]:
(2 + 2) * 4

16

In [95]:

(2 + 2) * 4 / 10

1.6