## Loops
    - For loops
    - while loops

In [5]:
# Question: Say hello to every student in  the list

students = ["Siddhi", "Manya", "Rajiv"]
print("Hello", students[0])
print("Hello", students[1])
print("Hello", students[2])

Hello Siddhi
Hello Manya
Hello Rajiv

In [4]:
for student in students:
    print("Hello" , student)

Hello Siddhi
Hello Manya
Hello Rajiv

In [6]:
# Question: Given a list, find the square of every number in the list

nums = [2, 3, 5, 9, 10]

for num in nums:
    print(num ** 2)

4
9
25
81
100

In [8]:
nums = [2, 3, 5, 9, 10]

for num in nums:
    print("The square of" , num , "is: " ,  num ** 2)

The square of 2 is:  4
The square of 3 is:  9
The square of 5 is:  25
The square of 9 is:  81
The square of 10 is:  100

In [9]:
nums = [2, 3, 5, 9, 10]
for num in nums:
    print(num,  "** 2  = ",   num ** 2)

2 ** 2  =  4
3 ** 2  =  9
5 ** 2  =  25
9 ** 2  =  81
10 ** 2  =  100

In [11]:
# Question: Given a list, find the square of every number in the list

nums = [2, 3, 5, 9, 10]

square_list = []
for num in nums:
    # calculate the square of num
    square_of_num = num ** 2

    # put the square in the new list
    square_list.append(square_of_num)

print(nums)
print(square_list)

[2, 3, 5, 9, 10]
[4, 9, 25, 81, 100]

In [18]:
##Question:  Given a list of numbers, filter out even numbers
nums = [20, 35, 56, 78, 101, 12]


for num in nums:
    # check if num is even
    if num % 2 == 0 : # divide by 2 and remainder is 0
        print(num ,  "is even!!")
    else:
        print(num, "is odd!!")

20 is even!!
35 is odd!!
56 is even!!
78 is even!!
101 is odd!!
12 is even!!

In [20]:
# nums = [20, 35, 56, 78, 101, 12]
nums= [1, 2, 3, 4, 5, 6, 7, 8]
even_nums = []

for num in nums:
    # check if num is even
    if num % 2 == 0 : # divide by 2 and remainder is 0
        even_nums.append(num)

print(even_nums)

[2, 4, 6, 8]

In [22]:
# Question : Given a list of nums, separate out even and odd numbers

# nums = [20, 35, 56, 78, 101, 12]
nums= [1, 2, 3, 4, 5, 6, 7, 8]
# even_nums = []
# odd_nums = []

even_nums, odd_nums = [], []
for num in nums:
    # check if num is even
    if num % 2 == 0 : # divide by 2 and remainder is 0
        even_nums.append(num)
    else: # if the number is odd
        odd_nums.append(num)

print(even_nums)
print(odd_nums)

[2, 4, 6, 8]
[1, 3, 5, 7]

In [17]:
if nums[1] % 2 == 0:# this will return either 0 or 1
    print(even)
else:
    print(odd)


if nums[1] % 2 :# this will return either 0 or 1
    print(even)
else:
    print(odd)

1

In [26]:
# Question : Given a list of nums, separate out even and odd numbers and store it in a dictionary
'''
nums = [1, 2, 3, 4, 5, 6, 7, 8]
result = {
        "nums": [1, 2, 3, 4, 5, 6, 7, 8]
        "even": [2, 4, 5, 6, 8], 
        "odd": [1, 3, 5, 7]
}
'''
# nums = [20, 35, 56, 78, 101, 12]
nums= [1, 2, 3, 4, 5, 6, 7, 8]
# even_nums = []
# odd_nums = []


# initialise a dictionary with keys "even" and "odd"
result = { "nums": []  , "even" : [], "odd" : []}

for num in nums:

    # store the number in the dictionary
    result["nums"].append(num)
    
    # check if num is even
    if num % 2 == 0 : # divide by 2 and remainder is 0
        result["even"].append(num)
    else: # if the number is odd
        result["odd"].append(num)

print(result)

{'nums': [1, 2, 3, 4, 5, 6, 7, 8], 'even': [2, 4, 6, 8], 'odd': [1, 3, 5, 7]}

In [ ]:
## we were trying to add value to a key that was not existing in the dictionary

In [35]:
# Question : Given a list of nums, separate out even and odd numbers and store it in a dictionary
'''
nums = [1, 2, 3, 4, 5, 6, 7, 8]
result = {
        "nums": [1, 2, 3, 4, 5, 6, 7, 8]
        "even": [2, 4, 5, 6, 8], 
        "odd": [1, 3, 5, 7]
}
'''
# nums = [20, 35, 56, 78, 101, 12]
nums= [1, 2, 3, 4, 5, 6, 7, 8]
# even_nums = []
# odd_nums = []


# initialise a dictionary with keys "even" and "odd"
result = {}  # dont initialise a dictionary with the keys. Keep the dictionary empty

for num in nums:

    if "nums" not in result:
        result["nums"] = []
    # store the number in the dictionary
    result["nums"].append(num)
    
    # check if num is even
    if num % 2 == 0 : # divide by 2 and remainder is 0
        
        if "even" not in result:
            result["even"] = []
        result["even"].append(num)
    else: # if the number is odd
        
        if "odd" not in result:
            result["odd"] = []
        result["odd"].append(num)

print(result)

{'nums': [1, 2, 3, 4, 5, 6, 7, 8], 'odd': [1, 3, 5, 7], 'even': [2, 4, 6, 8]}

In [31]:
result = {}

In [33]:
if "even" not in result:
    print("Key not found!---> Creating the key!!")
    result["even"] = []
result["even"].append(4)

result

{'even': [4, 4]}

## defaultdict

In [38]:
from collections import defaultdict

result = defaultdict(list)

result["even"].append(10)

result["nums"].append(20)

In [39]:
result

defaultdict(list, {'even': [10], 'nums': [20]})

In [42]:
result = defaultdict(int)

result[num]

0

In [49]:
## sorting a list and nested list

my_list = [3, 2, 1, 7, 8]

my_other_list = [ [3, 2, 6], [9, 0, 1], [4, 2, 8] ]

friend_list = ["rajiv", "deviprasad", "navneet" ,"amar" ]

sorted(friend_list)

# sorted(my_other_list)
# sorted(my_list, key=None, reverse=True )

['amar', 'deviprasad', 'navneet', 'rajiv']

## Iterate on value v/s iterate on index

In [58]:
nums_list = [4, 5, 1, 2, 8]

## iterating on value 
# for num in nums_list:
#     # print(num)
#     if num % 2 == 0:
#         print("the number", num,  "is even")


## iterate on index
for ind in [0, 1, 2, 3, 4]:
    # print(ind, "-->" , nums_list[ind])
    num = nums_list[ind]
    if num % 2 == 0:
        print("the number", num,  "is even")

the number 4 is even
the number 2 is even
the number 8 is even

In [66]:
## range function
friend_list = ["manya", "deviprasad",  "shiv"]
for i in range(len(friend_list)):
    print(i, "--->", friend_list[i])

for friend in friend_list:
    print(friend)

0 ---> manya
1 ---> deviprasad
2 ---> shiv
manya
deviprasad
shiv

In [69]:
##Question:  Given a list of numbers, filter out even numbers
nums = [20, 35, 56, 78, 101, 12]


# iterate by index
for i in range(len(nums)):
    num = nums[i]
    if num % 2 == 0: 
        even_list.append(num)
    # else:
    #     print(i , "odd")
print(even_list)


# # iterate by value
# even_list = []
# for i in nums:
#     if i % 2 == 0: 
#         even_list.append(i)
#     # else:
#     #     print(i , "odd")
    
# even_list

[20, 56, 78, 12]

In [75]:
## Given a list of numbers, make a transformation in the list such that all  numbers are doubled , in place


nums_list = [3, 8, 2, 9]

for ind in range(len(nums_list)):
    nums_list[ind]  = nums_list[ind] * 2

nums_list

[6, 16, 4, 18]

In [71]:
## Given a list of numbers, make a transformation in the list such that all even numbers are doubled and all odd numbers are tripled , in place


nums_list = [3, 8, 2, 9]

## expected output  nums_list = [9, 16, 4, 27]

transformed_list = []
for num in nums_list:
    if num % 2 == 0 :
        transformed_number = num * 2
    else:
        transformed_number = num * 3
        
    transformed_list.append(transformed_number)

print(nums_list)
print(transformed_list)


## this is NOT inplace operation. We have created a new list

[3, 8, 2, 9]
[9, 16, 4, 27]

In [73]:
## Given a list of numbers, make a transformation in the list such that all even numbers are doubled and all odd numbers are tripled , in place


nums_list = [3, 8, 2, 9]

## expected output  nums_list = [9, 16, 4, 27]
print(nums_list)

## iterate by index
for ind in range(len(nums_list)):
    ## find the number
    num = nums_list[ind]
    if num % 2 == 0 : # check even
        transformed_number = num * 2
    else:
        transformed_number = num * 3

    nums_list[ind] = transformed_number

print(nums_list)


## this is a inplace operator

[3, 8, 2, 9]
[9, 16, 4, 27]

In [77]:
'''
Given two lists 
names = ["debashish", "shiv", "navneet", "manya", "rajiv"]
marks = [33, 100, 90, 20, 100 ]

passing_marks is 40. If a student is pass then add pass after the students name else add fail
'''
names_list = ["debashish", "shiv", "navneet", "manya", "rajiv"]
marks_list = [33, 100, 90, 20, 100 ]
passing_marks = 40
# expected output name = ["debashish - fail", "shiv - pass", "navneet - pass", "manya- fail", "rajiv - pass"]


for ind in range(len(names_list)):
    name = names_list[ind]
    marks = marks_list[ind]

    ## check if pass
    if marks >= passing_marks:
        new_name = name  + "- pass"
    else: 
        new_name = name + "- fail"

    names_list[ind] = new_name

names_list

['debashish- fail',
 'shiv- pass',
 'navneet- pass',
 'manya- fail',
 'rajiv- pass']

In [79]:
names_list = ["debashish", "shiv", "navneet", "manya", "rajiv"]
marks_list = [33, 100, 90, 20, 100 ]
for ind in range(len(names_list)):
    name = names_list[ind]
    marks = marks_list[ind]

    ## check if pass
    if marks >= passing_marks:
        suffix =  "- pass"
    else: 
        suffix = "- fail"

    new_name = name + suffix
    names_list[ind] = new_name

names_list

['debashish- fail',
 'shiv- pass',
 'navneet- pass',
 'manya- fail',
 'rajiv- pass']

In [80]:
## ternary operator

passing_marks = 40

marks = 33


### normal way of writing ###
if marks >= passing_marks:
    result = "pass"
else:
    result = "fail"

## Ternary operator ## # more pythonic way of writing
marks = "pass" if marks >= passing_marks else "fail"

In [83]:
names_list = ["debashish", "shiv", "navneet", "manya", "rajiv"]
marks_list = [33, 100, 90, 20, 100 ]
for ind in range(len(names_list)):
    name = names_list[ind]
    marks = marks_list[ind]

    ## check if pass
    suffix = "- pass" if marks >= passing_marks else "- fail"

    new_name = name + suffix
    names_list[ind] = new_name

names_list

TypeError: '>=' not supported between instances of 'NoneType' and 'int'

In [87]:
# if the marks is zero then check beforehand and handle it by converting it to 0

names_list = ["debashish", "shiv", "navneet", "manya", "rajiv"]
marks_list = [33, 100, 90, 20, None ]
for ind in range(len(names_list)):
    name = names_list[ind]
    marks = marks_list[ind] if marks_list[ind] else 0  # ternary operator to handle the None

    # if marks is None:
    #     marks = 0

    ## check if pass
    suffix = "- pass" if marks >= passing_marks else "- fail"

    new_name = name + suffix
    names_list[ind] = new_name

names_list

['debashish- fail',
 'shiv- pass',
 'navneet- pass',
 'manya- fail',
 'rajiv- fail']

## enumerate 
    - allow us to iterate on value and index together

In [89]:
names_list = ["debashish", "shiv", "navneet", "manya", "rajiv"]

list(enumerate(names_list))

[(0, 'debashish'), (1, 'shiv'), (2, 'navneet'), (3, 'manya'), (4, 'rajiv')]

In [91]:
for pair in enumerate(names_list):
    print(pair[0], pair[1])

0 debashish
1 shiv
2 navneet
3 manya
4 rajiv

In [90]:
for (ind, name) in enumerate(names_list):
    print(ind, name)

0 debashish
1 shiv
2 navneet
3 manya
4 rajiv

In [92]:
## Given a list of numbers, make a transformation in the list such that all even numbers are doubled and all odd numbers are tripled , in place


nums_list = [3, 8, 2, 9]

## expected output  nums_list = [9, 16, 4, 27]
print(nums_list)

## iterate by index
for (ind, num) in enumerate(nums_list):
    if num % 2 == 0 : # check even
        transformed_number = num * 2
    else:
        transformed_number = num * 3

    nums_list[ind] = transformed_number

print(nums_list)


## this is a inplace operator

[3, 8, 2, 9]
[9, 16, 4, 27]

In [93]:
'''
Given two lists 
names = ["debashish", "shiv", "navneet", "manya", "rajiv"]
marks = [33, 100, 90, 20, 100 ]

passing_marks is 40. If a student is pass then add pass after the students name else add fail
'''
names_list = ["debashish", "shiv", "navneet", "manya", "rajiv"]
marks_list = [33, 100, 90, 20, 100 ]
passing_marks = 40
# expected output name = ["debashish - fail", "shiv - pass", "navneet - pass", "manya- fail", "rajiv - pass"]


for ind, name in enumerate(names_list):
    # name = names_list[ind]
    marks = marks_list[ind]

    ## check if pass
    if marks >= passing_marks:
        new_name = name  + "- pass"
    else: 
        new_name = name + "- fail"

    names_list[ind] = new_name

names_list

['debashish- fail',
 'shiv- pass',
 'navneet- pass',
 'manya- fail',
 'rajiv- pass']

## zip function

In [95]:
names_list = ["debashish", "shiv", "navneet", "manya", "rajiv"]
marks_list = [33, 100, 90, 20, 100 ]


list(zip([2, 3, 4], ["ram", "shyam", "mohan"]))

[(2, 'ram'), (3, 'shyam'), (4, 'mohan')]

In [99]:
list(zip([2, 3, 4], [ 10, 20, 30, 40] , [-10, -20]))

[(2, 10, -10), (3, 20, -20)]

In [100]:
for i in zip([2, 3, 4], [ 10, 20, 30, 40] , [-10, -20]):
    print(i)

(2, 10, -10)
(3, 20, -20)

In [131]:
## Practice Question

items_list = ["laptop", "monitor", "mouse", "keyboard"]
quantity_list = [3, 2, 5, 10]
price_list = [50000, 10000, 2000, 3000]

total_cost = 0
print("***"*10)
for  item, qty, price in zip(items_list, quantity_list, price_list):
    item_total = qty * price
    total_cost = total_cost + item_total
    print("--"*10)
    print(f"{item:15} x {qty} @{price:5} = {item_total}  ")
print("---"*10)
print(f"{'Total Cost:':28} {total_cost}")

******************************
--------------------
laptop          x 3 @50000 = 150000
--------------------
monitor         x 2 @10000 = 20000
--------------------
mouse           x 5 @ 2000 = 10000
--------------------
keyboard        x 10 @ 3000 = 30000
------------------------------
Total Cost:                  210000

In [ ]:
## nested list

## F- strings

In [108]:
student_list = ["manya", "rajiv", "shiv"]
marks_list = [21, 90, 30]


passing_marks = 40
for name, marks in zip(student_list, marks_list):
    if marks >= passing_marks:
        print(name, " is ", "pass", "because they have scored ", marks )
    else:
        print(name, " is ", "fail", "because they have scored ", marks)

manya  is  fail because they have scored  21
rajiv  is  pass because they have scored  90
shiv  is  fail because they have scored  30

In [112]:
name = "Shiv Kumar"
marks = 40
result = f"{name} is pass because they have scored {marks}" # f-string
print(result)

Shiv Kumar is pass because they have scored 40

In [113]:
student_list = ["manya", "rajiv", "shiv"]
marks_list = [21, 90, 30]


passing_marks = 40
for name, marks in zip(student_list, marks_list):
    result = "pass" if  marks >= passing_marks else "fail"
    print(f"{name} is {result}. Marks = {marks} ")

manya is fail. Marks = 21
rajiv is pass. Marks = 90
shiv is fail. Marks = 30

In [115]:
student_list = ["manya", "rajiv", "shiv"]
marks_list = [21, 90, 30]


passing_marks = 40
for name, marks in zip(student_list, marks_list):
    result = "pass" if  marks >= passing_marks else "fail"
    print(f"{name = } | {result = } | {marks = } ")

name = 'manya' | result = 'fail' | marks = 21
name = 'rajiv' | result = 'pass' | marks = 90
name = 'shiv' | result = 'fail' | marks = 30

## range

In [135]:
## given a list of numbers, find the sum of the numbers

nums = [4, 6, 8, 10]


# using in-built function called sum
# total = sum(nums)
# print(total)


# without using in-built function
total = 0
for i in range(len(nums)):
    total  = total + nums[i]

print(total)
print(total/ len(nums))

28
7.0

In [146]:
## given a list of numbers, find the maximum of the numbers
nums = [4, 6, 8, 10]

max_number = nums[0]


## first sort the array in descending and take the first element

max_number = sorted(nums, reverse= True)[0]  # inefficient compared to simple loop
print(max_number)



# for num in nums:
#     max_number = max(max_number, num)
# print(max_number)


# for num in nums:
#     if num > max_number:
#         max_number = num
#         # max_number = max(max_number, num)

# print(max_number)

10

In [149]:
## given a list of numbers, find the minimum of the numbers


nums = [4, 6, 8, 10]


# Method 1 : Using in built function
min_number = min(nums)
print(min_number)


# Method 2: Writing loop but still using in built function
min_number = nums[0]
for num in nums:
    min_number = min(min_number, num)
print(min_number)


# Method 3: Without using in-built function
min_number = nums[0]
for num in nums:
    if num < min_number:
        min_number = num
print(min_number)

4
4
4

## nested loops

In [168]:
'''Given the list of marks in 3 subjects for students, create a mapping of student and total and 
average marks and the result. 
If the student fails in any subject, then overall he is fail. 


result_dict = {

    "Anubhav": {
                    marks:
                    total_marks : <>, 
                    average_marks : <>, 
                    maximum_marks : <>, 
                    minimum_marks : <>, 
                    result = <pass/fail>, 
                    fail_subjects: <>
                    }, 

    "Navneet":
}
'''

names_list = ['Anubhav', 'Navneet', 'Deviprasad']
marks_list = [[50, 60 , 90] , [30, 50, 80], [40, 100, 20]]
passing_marks = 40 
result_dict = {}
for ind, marks in enumerate(marks_list):
    # print(marks)
    total_marks = 0
    min_marks, max_marks = marks[0], marks[0]
    result = "pass" # flag
    for mark in marks:
        total_marks = total_marks + mark
        min_marks = min(min_marks, mark)
        max_marks = max(max_marks, mark)
        if mark < passing_marks:
            result = "fail"
        
    average_marks = total_marks / len(marks)

    # print(f"{total_marks= }, {min_marks = }, {max_marks = } {average_marks = }   ")

    result_dict[names_list[ind]] = {
        "marks": marks, 
        "total_marks": total_marks, 
        "average_marks" : average_marks, 
        "min_marks": min_marks, 
        "max_marks" : max_marks,  
        "result" : result
    }

    # print("--" *20)
print(result_dict)

{'Anubhav': {'marks': [50, 60, 90], 'total_marks': 200, 'average_marks': 66.66666666666667, 'min_marks': 50, 'max_marks': 90, 'result': 'pass'}, 'Navneet': {'marks': [30, 50, 80], 'total_marks': 160, 'average_marks': 53.333333333333336, 'min_marks': 30, 'max_marks': 80, 'result': 'fail'}, 'Deviprasad': {'marks': [40, 100, 20], 'total_marks': 160, 'average_marks': 53.333333333333336, 'min_marks': 20, 'max_marks': 100, 'result': 'fail'}}

In [169]:
import json
print(json.dumps(result_dict, indent=5))

{
     "Anubhav": {
          "marks": [
               50,
               60,
               90
          ],
          "total_marks": 200,
          "average_marks": 66.66666666666667,
          "min_marks": 50,
          "max_marks": 90,
          "result": "pass"
     },
     "Navneet": {
          "marks": [
               30,
               50,
               80
          ],
          "total_marks": 160,
          "average_marks": 53.333333333333336,
          "min_marks": 30,
          "max_marks": 80,
          "result": "fail"
     },
     "Deviprasad": {
          "marks": [
               40,
               100,
               20
          ],
          "total_marks": 160,
          "average_marks": 53.333333333333336,
          "min_marks": 20,
          "max_marks": 100,
          "result": "fail"
     }
}

In [ ]:
'''Given the list of marks in 3 subjects for students, create a mapping of student and total and 
average marks and the result. 
If the student fails in any subject, then overall he is fail. 


result_dict = {

    "Anubhav": {
                    marks:
                    total_marks : <>, 
                    average_marks : <>, 
                    maximum_marks : <>, 
                    minimum_marks : <>, 
                    result = <pass/fail>, 
                    fail_subjects: <>
                    }, 

    "Navneet":
}
'''

names_list = ['Anubhav', 'Navneet', 'Deviprasad']
subjects_list = [["english", "hindi", "science"],
                 ["science", "math", "economics"],
                 ["history", "geography", "physics"]
                ]
marks_list = [[50, 60 , 90] , [30, 50, 80], [40, 100, 20]]
passing_marks = 40 
result_dict = {}
for ind, marks in enumerate(marks_list):
    # print(marks)
    total_marks = 0
    min_marks, max_marks = marks[0], marks[0]
    result = "pass" # flag
    fail_subjects= []
    for mark in marks:
        total_marks = total_marks + mark
        min_marks = min(min_marks, mark)
        max_marks = max(max_marks, mark)
        if mark < passing_marks:
            result = "fail"
            # fail_subjects.append(...) 
        
    average_marks = total_marks / len(marks)

    # print(f"{total_marks= }, {min_marks = }, {max_marks = } {average_marks = }   ")

    result_dict[names_list[ind]] = {
        "marks": marks, 
        "total_marks": total_marks, 
        "average_marks" : average_marks, 
        "min_marks": min_marks, 
        "max_marks" : max_marks,  
        "result" : result, 
        "fail_subjects": []
    }

    # print("--" *20)
print(result_dict)

In [171]:
list(range(10))
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [176]:
## Find pairs of numbers with a target sum
numbers = [2, 7, 11, 15, 3, 6, 9, 1, 8]
target = 10

result_pairs = []
for i in range(len(numbers)):
    for j in range(i+1 , len(numbers)):
        if numbers[i] +  numbers[j] == target:
            result_pairs.append((numbers[i], numbers[j]))
result_pairs

[(2, 8), (7, 3), (9, 1)]

In [179]:
## Find pairs of numbers with a target sum
numbers = [2, 7, 11, 15, 3, 6, 9, 1, 8]
target = 10

result_pairs = []
for i in range(len(numbers)):
    for j in range(i+1 , len(numbers)):
        if numbers[i] +  numbers[j] == target:
            result_pairs.append((i, j))
result_pairs

[[0, 8], [1, 4], [6, 7]]

In [181]:
nums = [20,40,60,100]
maximum = nums[0]
# max = nums[0]

for num in nums:
     maximum = max(maximum, num)
     
print(maximum)

TypeError: 'int' object is not callable

## Iterate on dictionary and tuple

In [183]:
marks_dict = {

        "debashish" : 90, 
        "siddhi" : 75, 
        "shiv" : 95
}


print(marks_dict.keys())
print(marks_dict.values())
print(marks_dict.items())

dict_keys(['debashish', 'siddhi', 'shiv'])
dict_values([90, 75, 95])
dict_items([('debashish', 90), ('siddhi', 75), ('shiv', 95)])

In [184]:
for i in marks_dict:
    print(i)  # print the keys

debashish
siddhi
shiv

In [185]:
for i in marks_dict.items():
    print(i)

('debashish', 90)
('siddhi', 75)
('shiv', 95)

In [186]:
## Question: Given students and their marks, create a list of students who have passed the exam for a given passing mark

passing_marks = 65
marks_dict = {

        "debashish" : 90, 
        "siddhi" : 75, 
        "shiv" : 95, 
    "navneet": 55, 
    "rajiv" : 60
}

pass_list = []
for name, marks in marks_dict.items():
    if marks >= passing_marks:
        pass_list.append(name)
print(pass_list)

['debashish', 'siddhi', 'shiv']

## List Comprehensions
    - Alternate way/syntax to write simple for loops
    - It is concise and more readable.

```python
new_nums = []
for num in nums:
    new_nums.append(num)

new_nums = [ num for num in nums ]
```

In [187]:
nums = [20, 35, 56, 78, 101, 12]

# new_nums = []
# for num in nums:
#     new_nums.append(num)

new_nums = [ num for num in nums ]
print(new_nums)

[20, 35, 56, 78, 101, 12]

In [191]:
##Question:  Given a list of numbers, filter out even numbers
nums = [20, 35, 56, 78, 101, 12]


# even_numbers = []
# for num in nums:
#     if num % 2 == 0:
#        even_numbers.append(num)


# syntax for filtering
even_numbers = [ num for num in nums if num %2 ==0]

print(even_numbers)

[20, 56, 78, 12]

In [196]:
## Given a list of numbers, create a new list such that all even numbers are doubled and all odd numbers are tripled 

nums_list = [3, 8, 2, 9]

# new_list = []
# for num in nums_list:
#     if num % 2 == 0: # if even
#         new_list.append(num * 2)
#     else:
#         new_list.append(num * 3)
# print(new_list)



# new_list = []
# for num in nums_list:
#     new_num = num * 2 if num % 2==0 else num * 3 # ternary operator
#     new_list.append(new_num)
# print(new_list)

new_list = []
for num in nums_list:
    new_list.append(num * 2 if num % 2 ==0 else num * 3)
print(new_list)


## if else inside a for loop
new_list = [ (num * 2 if num %2 == 0 else num * 3) for num in nums_list]
new_list

[9, 16, 4, 27]

```python
new_nums = []
for num in nums:
    new_nums.append(num)

new_nums = [ num for num in nums ]
```
---
```python
new_list = []
for num in nums_list:
    new_list.append(num * 2 if num % 2 ==0 else num * 3)
print(new_list)


## if else inside a for loop
new_list = [ (num * 2 if num %2 == 0 else num * 3) for num in nums_list]
new_list
```

In [200]:
## Given a list of numbers, find the square of the numbers

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


# traditional syntax
# squared_numbers = []
# for num in numbers:
#     squared_numbers.append(num ** 2)
# print(squared_numbers)



# list comprehension
squared_numbers = [ num ** 2 for num in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [207]:
name = "manya"
name.title()

'Manya'

In [209]:
## Given a list of names, convert the names to title case
names = ["manya", "shiv", "deviprasad", "ashish", "rajiv" ]

'''
result = ["Manya", "Shiv", "Deviprasad", "Ashish","Rajiv"]
'''


## traditional
cleaned_names = []
for name in names:
    cleaned_names.append(name.title())
print(cleaned_names)
    
## list comprehension
cleaned_names = [name.title() for name in names]
print(cleaned_names)

['Manya', 'Shiv', 'Deviprasad', 'Ashish', 'Rajiv']
['Manya', 'Shiv', 'Deviprasad', 'Ashish', 'Rajiv']

In [214]:
## Given a list of marks, create a new list that has "pass" and "fail" respectively fora given passing_mark

scores = [50, 60, 70, 22, 44, 78, 12] 
passing_mark = 40
'''
result = ["pass", "pass", "pass", "fail", "pass", "pass", "fail"]
'''


# result = []
# for score in scores:
#     if score >= passing_mark:
#         result.append("pass")
#     else:
#         result.append("fail")
# print(result)


# result = []
# for score in scores:
#     result.append("pass" if score >= passing_mark else "fail")
# print(result)


result = [("pass" if score >= passing_mark else "fail" )for score in scores]
print(result)

['pass', 'pass', 'pass', 'fail', 'pass', 'pass', 'fail']

In [218]:
'''
Given a list of marks, create a new list that contains grade
90-100 - Grade A
80-90 - Grade B
70-80 - Grade C
<70 - Grade F
'''

scores = [50, 60, 70, 22, 44, 78, 12, 95, 82] 
result = []
for score in scores:
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    else:
        grade = "F"
    result.append(grade)

print(result)


scores = [50, 60, 70, 22, 44, 78, 12, 95, 82] 
result = []
for score in scores:
    grade = "A" if score >= 90 else ( "B" if score >= 80 else ("C" if score >=70 else "F"))
    
    # if score >= 90:
    #     grade = "A"
    # elif score >= 80:
    #     grade = "B"
    # elif score >= 70:
    #     grade = "C"
    # else:
    #     grade = "F"
    result.append(grade)

print(result)


result = [ "A" if score >= 90 else ( "B" if score >= 80 else ("C" if score >=70 else "F")) for score in scores]
print(result)

['F', 'F', 'C', 'F', 'F', 'C', 'F', 'A', 'B']
['F', 'F', 'C', 'F', 'F', 'C', 'F', 'A', 'B']
['F', 'F', 'C', 'F', 'F', 'C', 'F', 'A', 'B']

In [225]:
s = "aaabba" 
output = "a3b2a1"

s = "aaaabbcccaaaaa"
result = "" # bad idea
count = 1

for i in range(1, len(s)):
    if s[i] == s[i-1]: #repeating
        count = count + 1    

    else:# new character
        result = result + s[i - 1] + str(count)
        count = 1

result = result + s[-1] + str(count)

result

'a4b2c3a5'

## Dictionary comprehensions
    - it is alternate syntax to create key-value pairs

In [228]:
numbers = [1, 2, 3, 4, 5]

result_dict = {
        1 : 1, 2:4, 3:9, 4:16, 5:25
    }



# traditional
result_dict = {}
for num in numbers:
    result_dict[num] = num ** 2 
print(result_dict)


## using dictionary comprehension
result_dict = { num : num ** 2  for  num in numbers }
print(result_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [230]:
## Create a dictionary from the list of first name and last names 
first_names = [ "Debashish", "Siddhi", "Rajiv", "Anubhav"]
last_names = ["Choudhury", "Raj", "Kumar", "Pandey"]

names = {}
for first_name, last_name in zip(first_names, last_names):
    names[first_name] = last_name
print(names)

## dictionary comprehension

names = {f_name : l_name for (f_name, l_name) in zip(first_names, last_names) }
print(names)

{'Debashish': 'Choudhury', 'Siddhi': 'Raj', 'Rajiv': 'Kumar', 'Anubhav': 'Pandey'}
{'Debashish': 'Choudhury', 'Siddhi': 'Raj', 'Rajiv': 'Kumar', 'Anubhav': 'Pandey'}

In [235]:
## Create a dictionary from the list of first name and last names where the key will be full name and value will be email id 
first_names = [ "Debashish", "Siddhi", "Rajiv", "Anubhav"]
last_names = ["Choudhury", "Raj", "Kumar", "Pandey"]

expected_result = {
    "Debashish Choudhury" : "debashish.choudhury@codeverra.com", 
    "Siddhi Raj" : "siddhi.raj@codeverra.com", 
    "Rajiv Kumar": "rajiv.kumar@codeverra.com"
}


## traditional approach
names_dict  = {}

for f_name, l_name in zip(first_names, last_names):
    # full_name = f_name + " "  + l_name # key
    full_name = f"{f_name} {l_name}"
    # email_id = f_name+"."+l_name+"@codeverra.com" # value
    email_id = f"{f_name}.{l_name}@codeverra.com ".lower()
    names_dict[full_name] = email_id

print(names_dict)

## dictionary comprehension

names_dict = { f"{f_name} {l_name}" : f"{f_name}.{l_name}@codeverra.com ".lower() for f_name, l_name  in zip(first_names, last_names)  }
print(names_dict)

{'Debashish Choudhury': 'debashish.choudhury@codeverra.com ', 'Siddhi Raj': 'siddhi.raj@codeverra.com ', 'Rajiv Kumar': 'rajiv.kumar@codeverra.com ', 'Anubhav Pandey': 'anubhav.pandey@codeverra.com '}
{'Debashish Choudhury': 'debashish.choudhury@codeverra.com ', 'Siddhi Raj': 'siddhi.raj@codeverra.com ', 'Rajiv Kumar': 'rajiv.kumar@codeverra.com ', 'Anubhav Pandey': 'anubhav.pandey@codeverra.com '}

In [241]:
## Write a code to count the frequency of letters in a string

s = "hello"
# freq_count = { "h" : 1, "e": 1, "l": 2, "o" : 1 }


freq_count = {}
for char in s:
    ## get existing frequency
    if char in freq_count:
        existing_frequency  = freq_count[char]
    else:
        existing_frequency = 0
    # add one to existing frequency
    updated_frequency = existing_frequency + 1
    freq_count[char] = updated_frequency

print(freq_count)


freq_count = {}
for char in s:
    ## get existing frequency
    existing_frequency  = freq_count[char] if char in freq_count else 0
    # add one to existing frequency
    updated_frequency = existing_frequency + 1
    freq_count[char] = updated_frequency

print(freq_count)


freq_count = {}
for char in s: 
    freq_count[char] = freq_count.get(char, 0 ) + 1
print(freq_count)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}
{'h': 1, 'e': 1, 'l': 2, 'o': 1}
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

## While Loops

    - for loop we know how many times we will iterate
    - while loop, we can iterate until a condition is met

In [244]:
'''
Design a system where a user can enter the password and if the password 
is correct then display "logged in" otherwise ask the user to enter the password again
'''

correct_password = "5789"

entered_password = input("Please enter the password")

for i in range(3):
    if entered_password == correct_password:
        print("logged in")
    else:
        print("incorrect password. Please try again!!")
        entered_password = input("Please enter the password")

Please enter the password 1234

incorrect password. Please try again!!

Please enter the password 5789

logged in
logged in

In [246]:
## while loop

## Given a list of numbers, calculate the square of the numbers
numbers = [1, 2, 3, 4, 5, 6]

ind = 0
squared_nums = []
while ind < len(numbers): # loop will run untill the ind reaches the value 6
    print("the value of ind is: ", ind)
    num = numbers[ind]
    squared_nums.append(num ** 2)
    ind = ind + 1
    
print(squared_nums)

the value of ind is:  0
the value of ind is:  1
the value of ind is:  2
the value of ind is:  3
the value of ind is:  4
the value of ind is:  5
[1, 4, 9, 16, 25, 36]

In [247]:
'''
Design a system where a user can enter the password and if the password 
is correct then display "logged in" otherwise ask the user to enter the password again
'''

correct_password = "4789"
entered_password = input("Please enter the password")

while entered_password != correct_password: 
    # stop the while loop when entered_password becomes equal to correct_password
    if entered_password == correct_password:
        print("logged in")
    else:
        print("incorrect password. Please try again!!")
        entered_password = input("Please enter the password")

Please enter the password 2345

incorrect password. Please try again!!

Please enter the password 1234

incorrect password. Please try again!!

Please enter the password 3333

incorrect password. Please try again!!

Please enter the password 2222

incorrect password. Please try again!!

Please enter the password 1111

incorrect password. Please try again!!

Please enter the password 6666

incorrect password. Please try again!!

Please enter the password 2222

incorrect password. Please try again!!

Please enter the password 3333

incorrect password. Please try again!!

Please enter the password 4444

incorrect password. Please try again!!

Please enter the password 5555

incorrect password. Please try again!!

Please enter the password 1

incorrect password. Please try again!!

Please enter the password 4

incorrect password. Please try again!!

Please enter the password 3

incorrect password. Please try again!!

Please enter the password 4789

In [250]:
correct_password = "4789"
entered_password = input("Please enter the password")

while True: 
    # stop the while loop when entered_password becomes equal to correct_password
    if entered_password == correct_password:
        print("logged in")
        break # terminate the loop
    else:
        print("incorrect password. Please try again!!")
        entered_password = input("Please enter the password")

Please enter the password 1

incorrect password. Please try again!!

Please enter the password 2

incorrect password. Please try again!!

Please enter the password 4789

logged in

In [253]:
## Write a code to count the frequency of letters in a string

name = "racecar"

ind = 0
count = {}
while ind < len(name):
    existing_freq = count.get( name[ind], 0 )
    count[name[ind]] =  existing_freq + 1

    # update the ind
    # ind = ind + 1
    ind += 1

print(count)

{'r': 2, 'a': 2, 'c': 2, 'e': 1}

## break,  continue  and pass