ASSIGNMENT FOR LIST AND LOOPS


1. Create a list of all even numbers from 11 to 30
2. Create a list of all natural numbers from 11-20 and replace all 	even numbers with “even” and all odd numbers with “odd”
3. Create a new list which has full name from the first name and last name in the list given below using two different ways:
	first_name = [“Ram”, “Shyam”,”Ghanshyam”]
  last_name = ["Singh", "Sharma","Verma"]

4. Create two new lists and store the first name and second from the following list:
    full_name = ["Kavin Shri", "Aniket Rai","Satheesh Seelan","Charan Kumar","Nagaraj Nagarajan"]
5. For the given list, create a new list with items in revers order.
  x = [11,12,13,14,15,16, 17]

6. For the given list , make a new list which does not have the empty strings
    ["Charan", "", "Nagaraj", "Kavin", "", "Satheesh"]

7. For the given list, print the index and value of the odd numbers x = [11,23,12,45,82, 43,23,98]

8. From the given list x = [11,23,12,45,82, 43,23,98], make a new list which contains only the odd items